Sum of All Numbers

In [ ]:
x=[1,2,3,4,5,6,7,8,9]
sum(x)

45

Maximum Number in a List

In [ ]:
x=[5,6,7,8,45,3,35,676,8,5]
max(x)

676

Count the Number of Occurrences of an Element in a List

In [ ]:
x=['A','B','B','A','A','R','F','M']
x.count("A")

3

Merge Two Lists Into a Single Sorted List

In [ ]:
R=[67,5,433,14,67,8,3]
A=[30,18,22,6,23,45,7,867,13,90]
R.sort()
#print(R)
A.sort()
#print(A)
RA=A+R
RA.sort()
print(RA)

[3, 5, 6, 7, 8, 13, 14, 18, 22, 23, 30, 45, 67, 67, 90, 433, 867]

In [ ]:
#TEST
#x=[1,9,2,5,40,9,34,133,12,34,6]
#x.sort()
#print(x)

[1, 2, 5, 6, 9, 9, 12, 34, 34, 40, 133]

Reverse a Given Tuple

In [ ]:
x=(3,10,23,5,2,18)
f=list(x)
#print(f)
f.sort(reverse=True)
print(f)

[23, 18, 10, 5, 3, 2]

Print the Fibonacci Sequence up to a Sepcified Number

In [ ]:
#not completed
def R(num):
  print(num)

R(5)

5

Check if a Given Number is Even or Odd

In [ ]:
# not completed
x=[2,4,5]
y=2
if x==y:
  print(bool(x))

Remove Duplicates from a List

In [ ]:
# not completed
x=[4,2,3,1]
y=[4,5,6,7]

print(y)

[4, 5, 6, 7]

Calculate the Power of a Number Using Recurssion

In [ ]:
def f(x):
  if x<=3:
    print(f(x**2))
  else:
    return x
f(2)

4

Create a tuple with three elements

In [ ]:
R=(5,6,7)

How do you access the second element of a list?

In [14]:
R=[1,2,3,4]
R=R[1]
print(R)

2

Write a program to add two numbers using a function

In [ ]:
R=[1,2,3]
R.append(5)
R.append(6)
print(R)

[1, 2, 3, 5, 6]

Explain the difference between a list and a tuple

In [ ]:
R=['A','B','R']
print(R)
R.insert(2,'F')
print(R)
A=('A','C','F')
AR=list(A)
print(AR)

['A', 'B', 'R']
['A', 'B', 'F', 'R']
['A', 'C', 'F']

Check if a key is present in a dictionary

In [ ]:
R={'Color':'Red','Size':36}
F=R.get('Order')
print(F)

None

Write a Python function to find the maximum of three numbers

In [ ]:
#R=[67,102,98]
#Bigger=max(R)
#print(Bigger)
def Bigger(R):
  print(Bigger)
R=max((102,98,88))
print(R)

102

Create a set with elements 1, 2, and 3

In [ ]:
x={1,2,3}
print(x)

{1, 2, 3}

Use a for loop to print numbers from 1 to 5

In [ ]:
R=[1,2,3,4,5]
for i in R:
  print(i)

1
2
3
4
5

Convert a list to a set

In [ ]:
R=[1,2,3]
A=set(R)
print(A)

{1, 2, 3}

Write a program to calculate the factorial of a number using a while loop

In [ ]:
R=4
while R<4:
  print(R)
F=R-1
A=F-1
P=F*A
print(P)

6

Explain the purpose of the "if" statement in Python

In [ ]:
X=["Gives you the statement once the condition is T"]
if X==["Gives you the statement once the condition is T"]:
  print("Yes")

else:
  print("Prints the other statement if F")

Yes

Write a function that takes a list as a parameter and returns the sum of its elements

In [ ]:
def f(l):
  print(l)

l=(1,2,3,4)
r=sum(l)
print(r)

10

Create a dictionary with keys 'name' and 'age'

In [ ]:
R={"Name":"Rafeef","Age":29}
print(R)

{'Name': 'Rafeef', 'Age': 29}

Use a while loop to print numbers from 1 to 3.

In [16]:
i=1
while i<6:
  print(i)
  if i==3:
      break
  i=i+1

1
2
3

Explain the use of "else" in Python.

In [19]:
x="it is used to do a function once the statement did not meet the first condition"
if x=="meet condition":
  print(x)
else:
    print("This sentence should be printed")

This sentence should be printed

Write a program to find the square root of a number using the math module.

In [9]:
squares=[x**2 for x in range (1,11)]
print(squares)
#not completed

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Concatenate two lists.

In [10]:
x=["Rafeef"]
y=["Salah"]
r=x+y
print(r)

['Rafeef', 'Salah']

Check fi a value is present in a tuple.

In [12]:
d=(1,2,3)
4 in d

False

Write a function that takes two parameters and returns
their sum.

In [16]:
def add(num1,num2):
  print("Number 1:",num1)
  print("Number 2:",num2)
  addition=num1+num2
  return addition

res=add(2,4)
print(res)

Number 1: 2
Number 2: 4
6

In [18]:
def f(n1,n2):
  r=n1+n2
  print(r)
r=[2,4]
e=sum(r)
print(e)

6

Remove an element from a set.

In [26]:
  x={'a','b','c'}
  x.remove('c')
  print(x)

{'a', 'b'}

Explain the purpose of "elif" in Python.

In [41]:
x="Value if True"
if x=="Value":
  print(x)

elif x=="Value if True":
  print("Uses elif")

Uses elif

Write a function that takes a string as input and returns its length.

In [51]:
def f(length):
  print(f)
  length=len(f)
  return length

f=len("March")
print(f)

5

Use list comprehension to create a list of squares from 1
t o 5.

In [53]:
squares=[x**2 for x in range (1,6)]
print(squares)

[1, 4, 9, 16, 25]

Find the index of an element in a list.

In [60]:
x=[1,2,3,4,5,5,6]
list.index('3')

TypeError: descriptor 'index' for 'list' objects doesn't apply to a 'str' object

Write a program to reverse a string.

In [69]:
x=[1,2,3]
x.sort(reverse=True)
print(x)

[3, 2, 1]

Create a tuple and convert it to a list.

In [70]:
x=("Rafeef","Salah")
f=list(x)
print(f)

['Rafeef', 'Salah']

Check if a key exists in a dictionary using "in" keyword.

In [71]:
R={'Name':'Rafee','Age':'29'}
"Height" in R

False

Write a function to calculate the average of a list.

In [76]:
def R(num1,num2,num3):
  Average=(sum(R)/len(R))
  return Average

f=[1,2,3]
x=sum(f)
Average=x/len(f)
print(Average)

2.0

Use a while loop to print even numbers from 2 to 8.

In [90]:
x=2
while x<=8:
  print(x)
  x=x+1

2
3
4
5
6
7
8

Check fi a value is present in a dictionary's values

In [92]:
r={'Name':'Rafeef'}
'value' in r

False

Explain the difference between "extend" and "append" methods in a list.

In [97]:
r=[1,2,3,4,5]
a=[6,7,8,9,10]
r.append(2)
print(r)
a.extend([2])
print(a)

[1, 2, 3, 4, 5, 2]
[6, 7, 8, 9, 10, 2]

Create a dictionary and update its values.

In [101]:
r={'Color':'Red','Height':'180'}
r['Color']='White'
r['Height']='160'
print(r)

{'Color': 'White', 'Height': '160'}

Check if a list is empty.

In [113]:
x=[]
if x:
  for x in x:
    print(1)
else:
  print("Empty List")

Empty List

Write a function to find the minimum value in a numpy array

In [1]:
import numpy as np
x=np.array([34,12,45,67,23,567,90])
f=min(x)
print(f)

12

Create a numpy array with elements from 1to 5.

In [2]:
import numpy as np
x=np.array([1,2,3,4,5])
print(x)

[1 2 3 4 5]

Write a program to convert Fahrenheit to Celsius using a function

In [16]:
def f(Temp):
  f=["Fahrenheit"]
  return f
  A=["Celsius"]
if f=="Fahrenheit":
  f=A
else:
  f=A

print(f)

['Celsius']

Remove an element from a list by index.

In [18]:
x=[1,2,3,4,5,6]
x.remove(x[1])
print(x)

[1, 3, 4, 5, 6]